<%-include('../cabecalho.ejs')%>
  <header>
    <h3>Adicionar Novo Personagem</h3>
  </header>
  <div class="content">
    <form id="form-instrumento" enctype="multipart/form-data" autocomplete="off" action="/personagens/add/ok"
      method="post">
      <div class="grid">
        <div>
          <label for="nome">Nome do Personagem</label>
          <input id="nome" name="nome" type="string" placeholder="Ex: Capitão América" required>
        </div>
        <div>
          <label for="tipo">Tipo</label>
          <select id="tipo" name="tipo" required>
            <option value="" disabled selected>Selecione o tipo</option>
            <option>Herói</option>
            <option>Vilão</option>
            <option>Anti-Herói</option>
            <option>Outro</option>
          </select>
        </div>
        <div>
          <label for="afiliacao">Afiliação</label>
          <input id="afiliacao" name="afiliacao" type="string" placeholder="Ex: Vingadores" required>
        </div>
        <div>
          <label for="primeira_aparicao">Primeira Aparição</label>
          <input id="primeira_aparicao" name="primeira_aparicao" type="number" placeholder="Ex: 1980" required>
        </div>
        <div>
          <label for="foto">Foto</label>
          <input id="foto" name="foto" type="file">
        </div>
        <footer>
          <a type="button" class="btn ghost" id="btn-cancelar" href="/personagens/lst">Cancelar</a>
          <button type="submit" class="btn primary">Adicionar Personagem</button>
        </footer>
    </form>
  </div>